<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.iam.jdt.ui.MavenLaunchConfigurationId">
<mapAttribute key="CustomGoalParameters"/>
<stringAttribute key="CustomGoalProjectName" value="com.wwm.util"/>
<listAttribute key="CustomGoals">
<listEntry value="clean"/>
<listEntry value="test"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
